<!DOCTYPE HTML>

<html>
	<head>
		<title>Cambiar circunscripción</title>
	</head>
	<body>
		<center>
			<form method='post' class="circunscripcion-form %}">
				{% csrf_token %}
			<table>
				<tr>
						<td>{{ form.nombreCircunscripcion.label_tag }}</td>
						<td>{{ form.nombreCircunscripcion }}</td>
				</tr>
				<tr>
						<td>{{ form.numeroEscanhos.label_tag }}</td>
						<td>{{ form.numeroEscanhos }}</td>
				</tr>
			</table>
			<input type="submit" value="Cambiar Circunscripción"/>
		</center>
	</body>
</html>
